:root{
    /* colors */
    --white: #f3f0f0;
    --dark: #100F10;
    --medium-dark: #1b1b1b;
    --purple: #582965;
}

.dark{
    background: var(--dark);
    color: var(--white);
}

.dark .info{
    background: var(--medium-dark);
    border: 1px solid var(--white);
}

.dark .desc{
    background: var(--medium-dark);
}

.dark .desc::-webkit-scrollbar-track{
    background: var(--medium-dark);
}

.dark .desc::-webkit-scrollbar-thumb{
    background-color: var(--purple);
    border: 3px solid var(--medium-dark);
}

.dark footer{
    background: var(--purple);
    color: var(--white);
    box-shadow: 0px 10px 40px var(--purple);
}