:root{
    /* colors */
    --white: #f3f0f0;
    --dark: #100F10;
    --medium-dark: #1b1b1b;
    --red: #E33D33;

    --background: #DBD9DB;

    /* measurements */
    --medium: 0.875rem;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    font-family: 'Poppins', sans-serif;

    margin: 0 auto;

    background: var(--background);
    color: var(--medium-dark);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 25px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 1.5rem;
    padding: 0.5rem;

    

    height: 3rem;

    background: var(--red);
    box-shadow: 0px 10px 40px var(--red);

    color: var(--white);
}

main{
    overflow-y: auto;
}

.poke-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* transforma linha em coluna caso ultrapasse o tamanho da tela */
    gap: 20px;
}

.logo:hover, .button-img:hover{
    transform: scale(1.05);
    cursor: pointer
}

.logo, .button-img{
    width: 50px;
}

#theme-button{
    background: none;
    border: none;
}

.info{
    display: flex;
    justify-content: space-between;
    background: var(--white);

    flex-wrap: wrap;
    border: 1px solid var(--dark);
    border-radius: 8px;
}

.poke-name-num{
    padding: 5px;
    text-transform: uppercase;
    font-size: var(--medium);
}

.desc{
    background: var(--white);
    border-radius: 10px;

    text-align: right;

    max-height: 100px;
    padding-right: 10px;

    overflow-y: scroll; /* adiciona um scrool caso ultrapasse a altura */
}

.social-medias{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.social-medias-link{
    display: flex;
    align-items: center;
}

.social-medias-icons{
    height: 1.5rem;
}
/* ===== Scrollbar CSS ===== */
.desc::-webkit-scrollbar {
    width: var(--medium);
}

.desc::-webkit-scrollbar-track {
    background: var(--white);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.desc::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 10px;
    border: 3px solid var(--white);
}