.types{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.types-icons{
    height: 15px;
}

.poke-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    padding: 5px;
    border-radius: 10px;
}

.poke-card{
    width: 200px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    border-radius: 15px;

    transition: 0.2s ease-in;
}

/* hover dos cards */
.poke-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* grass type */
.grass-poke-card{
    background: url(../images/backgrounds/grass-background-fixed.png) center center;
    background-size: cover;
}

.grass-poke-card:hover{
    background: url(../images/backgrounds/grass-background.gif) center center;
    background-size: cover;
}

.grass-type{
    background: #7ac74c;
}

/* poison type */
.poison-poke-card{
    background: url(../images/backgrounds/poison-background-fixed.png) center center;
    background-size: cover;
}

.poison-poke-card:hover{
    background: url(../images/backgrounds/poison-background.gif) center center;
    background-size: cover;
}
.poison-type{
    background: #df67ddfb;
}

/* fire type*/
.fire-poke-card{
    background: url(../images/backgrounds/fire-background-fixed.png) center center;
    background-size: cover;
}

.fire-poke-card:hover{
    background: url(../images/backgrounds/fire-background.gif) center center;
}

.fire-type{
    background: #ee8130;
}

/* flying type */
.flying-poke-card{
    background: url(../images/backgrounds/flying-background-fixed.png) center center;
    background-size: cover;
}

.flying-poke-card:hover{
    background: url(../images/backgrounds/flying-background.gif) center center;
}

.flying-type{
    background: #9AA8FF;
}

/* water type */
.water-poke-card{
    background: url(../images/backgrounds/water-background-fixed.png) center center;
    background-size: cover;
}

.water-poke-card:hover{
    background: url(../images/backgrounds/water-background.gif) center center;
}

.water-type{
    background: #6390f0;
}

/* poison type */
.bug-poke-card{
    background: url(../images/backgrounds/insect-background-fixed.png) center center;
    background-size: cover;
}

.bug-poke-card:hover{
    background: url(../images/backgrounds/insect-background.gif) center center; 
    background-size: cover;
}

.bug-type{
    background: #a6b91a;
}

/* dragon */
.dragon-poke-card{
    background: url(../images/backgrounds/dragon-background-fixed.png) center center; 
    background-size: cover;
}

.dragon-poke-card:hover{
    background: url(../images/backgrounds/dragon-background.gif) center center; 
    background-size: cover;
}

.dragon-type{
    background: #8B7DF1;
}

/* normal */
.normal-poke-card{
    background: url(../images/backgrounds/normal-background-fixed.png) center center;
    background-size: cover;
}

.normal-poke-card:hover{
    background: url(../images/backgrounds/normal-background.gif) center center;
    background-size: cover;
}

.normal-type{
    background: #B7B7A8;
}

/* .psychic */
.psychic-poke-card{
    background: url(../images/backgrounds/pyschic-background-fixed.png) center center;
    background-size: cover;
}

.psychic-poke-card:hover{
    background: url(../images/backgrounds/pyschic-background.gif) center center;
    background-size: cover;
}

.psychic-type{
    background: #FF6EA8;
}

/* fighting */
.fighting-poke-card{
    background: url(../images/backgrounds/fighting-background-fixed.png) center center;
    background-size: cover;
}

.fighting-poke-card:hover{
    background: url(../images/backgrounds/fighting-background.gif) center center;
    background-size: cover;
}

.fighting-type{
    background: #C56E60;
}

/* dark */
.dark-poke-card{
    background: url(../images/backgrounds/dark-background-fixed.gif) center center;
    background-size: cover;
}

.dark-poke-card:hover{
    background: url(../images/backgrounds/dark-background.gif) center center;
    background-size: cover;
}

.dark-type{
    background: #8B6E60;
}

/* rock */
.rock-poke-card{
    background: url(../images/backgrounds/rock-background-fixed.png) center center;
    background-size: cover;
}

.rock-poke-card:hover{
    background: url(../images/backgrounds/rock-background.gif) center center;
    background-size: cover;
}

.rock-type{
    background: #C5B77D;
}

/* ground */
.ground-poke-card{
    background: url(../images/backgrounds/ground-background-fixed.png) center center;
    background-size: cover;
}

.ground-poke-card:hover{
    background: url(../images/backgrounds/ground-background.gif) center center;
    background-size: cover;
}

.ground-type{
    background: #E2C56E;
}

/* electric */
.electric-poke-card{
    background: url(../images/backgrounds/electric-background-fixed.png) center center;
    background-size: cover;
}

.electric-poke-card:hover{
    background: url(../images/backgrounds/electric-background.gif) center center;
    background-size: cover;
}
.electric-type{
    background: #FFD451;
}

/* stell */
.steel-type{
    background: #B7B7C5;
}

/* ghost */
.ghost-poke-card{
    background: url(../images/backgrounds/ghost-background-fixed.png) center center;
    background-size: cover;
}

.ghost-poke-card:hover{
    background: url(../images/backgrounds/ghost-background.gif) center center;
    background-size: cover;
}

.ghost-type{
    background: #7D7DC5;
}

/* fairy */
.fairy-poke-card{
    background: url(../images/backgrounds/fairy-background-fixed.png) center center;
    background-size: cover;
}

.fairy-poke-card:hover{
    background: url(../images/backgrounds/fairy-background.gif) center center;
    background-size: cover;
}

.fairy-type{
    background: #F1A8F1;
}

/* ice */
.ice-poke-card{
    background: url(../images/backgrounds/ice-background-fixed.png) center center;
    background-size: cover;
}

.ice-poke-card:hover{
    background: url(../images/backgrounds/ice-background.gif) center center;
    background-size: cover;
}

.ice-type{
    background: #7DD4FF;
}